body {
  font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.6rem;
  }
  
  .animal {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .animal h4 {
    margin: 0 0 6px 0;
  }
  
  .pet-photo {
    float: left;
    width: 40%;
    margin-right: 15px;
  }
  
  .pet-name {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
  }
  
  .species {
    font-size: 0.9rem;
    color: #888;
    vertical-align: middle;
  }
  
  .foods-list {
    margin: 0;
    padding: 0;
    position: relative;
    left: 17px;
    font-size: 0.85rem;
    line-height: 1.5;
  }
  
  .footer {
    font-size: 0.7rem;
    color: #888;
    text-align: center;
    margin: 0;
  }
  .card-container{
    text-align: center;
  }
  .cards{
    padding: 40px;
  }
  p {
    font-size: 12px;
  }
  
  .navbar-dark .navbar-nav .nav-link{
    font-weight: bold;
    font-size: 14px;
  }
  .navbar-dark .navbar-nav .nav-item{
    margin: 0 15px;
  }
 .my-content{
  display: grid;
  place-items: center;
  height: 100vh;
 }
 .max-lines {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}
.max-lines-title{
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.6em;
  line-height: 1.2em;
}
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.hidden{
  display: none;
}
.upload-console{
  background: #fefefe;
  border: 2px solid #eee;
  padding: 20px;
}
.upload-console-drop{
  height: 200px;
  border: 2px dashed #ccc;
  line-height: 200px;
  color: #ccc;
  text-align: center;
}
.upload-console-drop.drop{
  border-color: #222;
  color: #222;
}
.tags-wrapper {
	background:white;
	overflow:hidden;
	width:300px;
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 1%, white 15%);
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.tags-wrapper ul {
	margin:0px;
	padding:0px;
}
.tags-wrapper li {
	float:left;
}
.tags-wrapper li.tag {
	font-family:verdana;
	font-size:11px;
	
	border-radius:3px;
	list-style: none;
	background-clip: padding-box;
	background-color: rgb(228, 228, 228);
	background-image:-webkit-linear-gradient(top, rgb(244, 244, 244) 20%, rgb(240, 240, 240) 50%, rgb(232, 232, 232) 52%, rgb(238, 238, 238) 100%);
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	color: rgb(51, 51, 51);
	border: 1px solid rgb(170, 170, 170);
	line-height: 13px;
	padding: 1px 3px 3px 5px;
	margin: 3px 0 3px 5px;
}
.tags-wrapper li a {
	text-decoration:none;
	color:white;
	padding:2px;
	display:inline-block;
	margin-left:6px;
	color: rgb(51, 51, 51);
}
.tags-wrapper li a:hover {
	color:#222;
}
.tags-wrapper input {
	display:none;
}
.tags-wrapper li.tags-input {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.tags-wrapper li input {
	display:block;
	background:trasparent;
	outline:none;
	border:none;
	font-size:11px;
	height: auto;
	width:30px;
	margin: 4px;
}
.tags-wrapper .autofill-bg {
	position:relative;
	top:4px;
}