<!DOCTYPE html>
<html>
    <head>
      <link rel="shortcut icon" href="../assets/ico.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../assets/app.css">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200&display=swap" rel="stylesheet">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/one-page-wonder.min.css" rel="stylesheet">
<meta charset="utf-8">
     <title>Savepro - Nuevo Proyecto</title>
    </head>
    <body>
        <div id="navbar"></div>
        <div style="height: 75px;"></div>
    <script type="application/javascript" src="../components/navbar.js"></script>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nuevo Proyecto</li>
        </ol>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col">
           <h4>Nuevo Proyecto</h4>
           <hr class="my-4">
          </div>
          <br>
        </div>
          <div class="row">
            <div class="col">
              <div class="shadow p-3 mb-5 bg-white rounded" style="padding: 10px;">
                <form action="finish.html" class="main-form needs-validation" novalidate>
                  <div class="row">
                    <div class="col-col-sm-6 col-md-6">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="title">Título</label>
                            <input type="text" name="title" id="title" class="form-control" required>
                            <div class="invalid-feedback">Debes asignarle un título a tu proyecto</div>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="content">Contenido</label>
                            <textarea class="form-control" id="content" rows="5" required></textarea>
                            <div class="invalid-feedback">Debes agregarle una descripción</div>
                        </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="datepicker">Fecha de entrega</label>
                          <input class="form-control" id="datepicker" required>
                          <div class="invalid-feedback">Es necesario que agregues una fecha de entrega</div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <select class="custom-select custom-select-sm" required>
                              <option value="">Elige una de estas opciones</option>
                              <option value="1">Contabilidad</option>
                              <option value="2">IT</option>
                              <option value="3">Diseño</option>
                              <option value="4">RRHH</option>
                            </select>
                            <div class="invalid-feedback">Elige un Departamento</div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="area">Area</label>
                            <select class="custom-select custom-select-sm" required>
                              <option value="">Elige una de estas opciones</option>
                              <option value="1">Seguridad de la información</option>
                              <option value="2">Arte Final</option>
                              <option value="3">Finanzas</option>
                              <option value="4">Desarrollo de Software</option>
                              <option value="5">Diseño Gráfico</option>
                              <option value="6">Reclutamiento y selección</option>
                            </select>
                            <div class="invalid-feedback">Elige un área</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-col-sm-6 col-md-6">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="files">Archivos de referencia</label>
                            <div class="upload-console-drop" id="drop-zone">
                              Just drag and drop here
                             </div>
                             <small class="form-text text-muted">(Opcional) solo si tienes algún archivo como guía del proyecto</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="collaborators">Colaboradores</label>
                            <select multiple class="form-control" id="collaborators" required>
                              <option>Luis Celano</option>
                              <option>Ramon Contreras</option>
                              <option>Isis Odina</option>
                              <option>Henry Cotonón</option>
                              <option>Mauricio Contreras</option>
                            </select>
                            <div class="invalid-feedback">Debes seleccionar al menos un colaborador</div>
                            <small class="form-text text-muted">Presiona (ctrl + click) para elegir varios colaboradores</small>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button type="submit" class="btn btn-primary btn-sm btn-block">Crear Proyecto</button>
                        <button type="reset" class="btn btn-warning btn-sm btn-block">Limpiar Formulario</button>
                        </div>
                    </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
     <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });
         var form = document.querySelector('.needs-validation');
         form.addEventListener('submit',function(event){
            if(form.checkValidity()===false){
             event.preventDefault();
             event.stopPropagation();
         }else if(form.checkValidity()===true){
          
         }
         form.classList.add('was-validated');
         })
     </script>
       <div id="footer"></div>
       <script src="../components/upload.js"></script>
       <script type="application/javascript" src="../components/footer.js"></script>
    </body>
</html>